.nested-form-wrapper {
  justify-content: center;
  padding: 48px;
}

.checkbox-heading {
  font-size: $largest-heading;
  padding: 48px 0;
}

.option-wrapper {
  flex: initial;
  margin-bottom: 12px;
  padding: 0 6px;
}
