.nested-form-wrapper {
  display: flex;
  flex: 0 0 $width;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 auto 12px;
  padding: 24px;
}

.checkbox-heading {
  font-family: $bungee;
  font-size: 3.5rem;
  padding-top: 48px;
  text-align: center;
}

.option-wrapper {
  flex: 0 0 50%;
  margin-bottom: 6px;
  padding: 6px;
}

.checkbox {
  // hides the actual checkbox
  display: none;

  // Label text
  + label {
    align-items: flex-end;
    display: flex;
    flex: 0 0 $width;
    position: relative;

    // Unchecked checkbox box border
    &::before {
      border: 2px solid $pink;
      border-radius: 4px;
      content: ' ';
      cursor: pointer;
      margin-right: 6px;
      padding: 12px;
    }

    &:hover {
      color: $pink-hover;
    }
  }

  // Checked checkbox box border
  &:checked + label {

    &::before {
      border: 2px solid $pink;
    }

    // Checkmark
    &::after {
      border: 3px solid  $pink;
      border-left: 0;
      border-top: 0;
      content: ' ';
      cursor: pointer;
      height: 12px;
      left: 10px;
      position: absolute;
      transform: rotateZ(45deg);
      width: 6px;
    }
  }
}
