$cast-img-dimension: 90px;
$anime-time: 8s;
$box-size: 90px;
$clip-distance: .05;
$clip-size: $box-size * (1 + $clip-distance * 2);
$path-width: 2px;

.cast-wrapper {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  width: $width;
}

.cast {
  align-items: center;
  display: flex;
  flex: 0 0 180px;
  flex-flow: column wrap;
  padding: 24px 0;
  transition: border .2s ease, transform .2s ease, z-index 0s .2s ease;
  width: 50%;

  &:hover {
    transform: scale(1.05);
  }
}

.profile {
  border: 1px solid $pink;
  border-radius: $width;
  display: flex;
  height: $cast-img-dimension;
  transition: all 1.5s ease;
  width: $cast-img-dimension;
}

.cast-info {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 24px 12px 0;
  width: $width;

  h6 {
    padding: 6px 0;
    text-align: center;
  }
}
