$min-width: 245;
$min-aspect: 16 9;
$min-height: $min-width * (nth($min-aspect, 2) / nth($min-aspect, 1));
$max-width: 324;
$max-aspect: 4 1;
$max-height: $max-width * (nth($max-aspect, 2) / nth($max-aspect, 1));
$movie-wrapper-max-width: 972px;

.movie-result-wrapper {
  display: flex;
  flex: 0 0 $width;
  flex-flow: row wrap;
  justify-content: flex-start;
  max-width: $movie-wrapper-max-width;
  width: $width;
}

.movie-card {
  display: flex;
  flex: 1 0 33%;
  flex-flow: column wrap;
  overflow: hidden;
  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      animation-delay: (#{$i * .1s});
    }
  }
}

.card-header {
  height: calc(#{($min-height * 1px)} + (#{$max-height} - #{$min-height}) * ((100vw - #{($min-width) * 1px})/(#{$max-width} - #{$min-width})));
  max-height: ($max-height * 1px);
  min-height: ($min-height * 1px);
  overflow: hidden;
  width: $width;
  z-index: 1;

  img {
    height: auto;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: $width;
    z-index: 2;
  }
}

.dots {
  display: none;
}
