$bg: #f5f7fa;
$body-color: #1b2942;
$heading-color: #404e67;
$orange: #f96;
$orange-hover: #fa8e57;
$orange-pressed: #ffa87d;
$pink: #ff637b;
$pink-hover: #f25e75;
$pink-pressed: #ff7588;
$search: #98a4b8;
$transparent: transparent;
$gradient: linear-gradient(to right, $orange-pressed, $pink-pressed, $orange-hover, $pink, $orange-hover, $pink-hover);
