$max-button-width: 200px;

.movie-btn {
  background-color: $transparent;
  border: 2px solid $pink;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  max-width: $max-button-width;
  padding: 6px 24px;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: $pink-hover;
    border: 2px solid $body-color;
    color: $bg;
  }
}
